body {
    background-color: rgb(41, 151, 170);
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;

    font-family: sans-serif;
}

/* Column */

.column {
    float: left;
    width: 25%;
    /* padding: 0; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    border: 1px solid lightblue;
    margin: 10px;
    /* flex-wrap: wrap; */
    flex-grow: 0;
    flex-basis: 26%;
}
.column:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
    border: 3px solid green;
}


/* adding soldOut */



.firstImg {
    position: relative;
    border: 1px solid blue;
    width: 300px;
    height: 100px;
}

.soldOut {
    position: absolute;
    border: 1px solid red;
    top: 70px;
    right: 15px;
}


/*
#grow {
    flex-grow: 0;
    flex-basis: 26%;
    flex-direction: row;
}

/*media 

@media (max-width: 600px) {
    .column {
        flex:3 21%;
        flex-shrink: 1;
    }
}


/* Row */

.products {
    display: flex;
    flex-wrap: wrap;
}
/*
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* media for the page size and screen  */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        flex-grow: 0 10%;
    }
}


/* Card */

* {
    box-sizing: border-box;
}
/**/



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    text-align: center;
    background-color: #f1f1f1;
    /* flex-grow: 3;*/
    
    /* flex: 1 0 1%;*/

  }

  .card h2 {
      border-color: lightblue;
      border: 1px solid lightblue;
      margin: 0;
      padding: 10px;
      
  }

  .card h3 {
      background-color: gray;
      color: yellow;
      /*float: left;*/
      text-align: left;
      padding: 5px;
      margin: 0;
      display: block;
      font-family: sans-serif;
      font-size: medium;
  }

  .card img {
      height: 150px;
      width: 100px;
  }

  .card li {
      list-style-type: none;      
  }

  .card p {
      text-align: justify;
      padding: 10px;
  }

  /* card item two and three */
  .card-list-two {
      text-align: left;
  }

  .card footer {
      font-size: 10px;
  }

  .card header {
      margin-left: 10px;
  }
 .card-list-two li {
     margin-left: 20px;
 }

